:root {
    --dark-primary-color: #165367;
    --primary-color: #2282AD;
    --accent-color: #66B84D;
    --text-color: #FFFFFF;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --divider-color: #BDBDBD;
}