/*------------------- CONTACT FORM -------------------*/

.contact-container {
    width: auto;
    height: auto;
    padding: 0;
    background-image: url('../images/contact.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-container form input, select, textarea{
    border: 1px solid rgba(173, 173, 173, 0.267);
    border-radius: 2px;
    padding: 10px;
    outline: none;
    color: rgb(124, 124, 124);
    font-weight: 200;
    letter-spacing: 1px;
}

.contact-container form input, select {
    height: 3em;
}

button.icon {
    position: relative;
}

button.icon .sentemail{
    position: absolute;
    top: 14px;
    left: 35%;
}
